body {
  font-family: Verdana, Arial, sans-serif;
}

legend {
  background: purple;
  border-radius: 10px;
  color: white;
  padding: 12px;
}

fieldset {
  background: lavender;
  border: solid 5px darkblue;
  border-radius: 20px;
  margin: 0 0 10px 0;
  width: 720px;
}

div {
  margin: 10px;
}

div:hover {
  color: blue;
}

label {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: 200px;
}

/* input[type="radio"] + label,
  input[type="checkbox"] + label {
    width: auto;
    color: red;
  } */

.radio-checkbox {
  width: auto;
  color: red;
}

.range-caption {
  background: darkcyan;
  color: white;
  padding: 6px;
  text-align: center;
}

/* input[type="submit"] {
    background: darkcyan;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    padding: 12px;
  } */

#submit-btn {
  background: darkcyan;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 12px;
}
